<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #e3f2fd;">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="books" routerLinkActive="active" class="nav-link">Book List</a>
    </li>
    <li class="nav-item">
      <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="return-book" routerLinkActive="active" class="nav-link">Return Book</a>
    </li>
    <li class="nav-item">
      <a routerLink="statistics" routerLinkActive="active" class="nav-link">Statistics</a>
    </li>
  </ul>
</nav>

<h1 class="text-center">Library Management</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2022 @xxminhmie</span>
  </div>
</footer>