<h2>
    Book List
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Book Title</th>
            <th>Category</th>
            <th>Author</th>
            <th>Publishing Company</th>
            <th>Publishing Year</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let book of books">
            <td> {{ book.id }} </td>
            <td> {{ book.bookName }} </td>
            <td> {{ book.category }} </td>
            <td> {{ book.authorName }} </td>
            <td> {{ book.publisher }} </td>
            <td> {{ book.year }} </td>
        </tr>
    </tbody>

</table>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Borrow</a>
            </div>
          </div>      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Borrow</a>
            </div>
          </div>      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>
  </div>

