
<div class="container">
  <h2>
    Return Book
  </h2>
  <div class="row" style="margin-top: 30px;">
    <div class="col-4">
      <!-- FORM  -->
      <form [formGroup]="findBorrowForm" (ngSubmit)="findBorrowCom()">
        <div class="form-group row" style="padding-bottom: 16px;">
          <label for="borrowId" class="col-sm-3 col-form-label">Borrow ID</label>
          <div class="col-sm-9">
            <!-- <input type="text" name="id" [(ngModel)]="id2" (ngModelChange)="search()"> -->
            <input type="text" class="form-control" placeholder="Search" formControlName="borrowId" [(ngModel)]="id" (ngModelChange)="search()">

          </div>
        </div>
        <!-- <div class="form-group row" style="padding-bottom: 0px;">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div> -->
      </form>
    </div>
    <div class="col">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>BorrowID</th>
            <th>Book Name</th>
            <th>Returned Date</th>
            <th>Status</th>
            <th>RFID Check</th>
            <!-- <th>REFID Check</th> -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let detail of details">
            <td> {{ detail.borrow?.id }}</td>
            <td> {{ detail.bookdetail?.bookName }} </td>
            <td> {{ detail.returnedDate }} </td>
            <td> {{ detail.status }} </td>
            <!-- <td> {{ detail.note }} </td> -->
            <td *ngIf="detail.note">
              <input type="checkbox" class="form-check-input" id="" checked="true" disabled="true">
            </td>
            <td *ngIf="!detail.note">
              <input type="checkbox" class="form-check-input" id="" disabled="true">
            </td>
            
            <!-- <td contenteditable="true" [textContent]="detail.bookId" (input)="onContentChanged($event)"></td> -->
            <!-- <td>
                      <input type="checkbox" aria-label="Checkbox for following text input">
                  </td> -->
          </tr>

        </tbody>

      </table>

      <div class="form-group row" style="margin-top: 30px;">
        <div class="col-sm-3">
          <form [formGroup]="startInventoryForm" (ngSubmit)="startInventoryCom()">
            <button type="submit" class="btn btn-primary" style="width: 180px;">Start Inventory</button>
          </form>
        </div>

        <div class="col-sm-3">
          <form [formGroup]="returnBooksForm" (ngSubmit)="returnBooksCom()">
            <button type="submit" class="btn btn-primary" style="width: 180px;">Return Books</button>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>